:root {
  --main-color: hotpink;
  --white-color: #fff;
  --black-color: #000;
  --red-color: rgb(255, 0, 0);
  --blue-color: blue;
  --border: 1px solid #b3b3b3;
  --border-red: #f33a58;
  --color: #636d77;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  color: #333;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}
.form-container {
  background: #f1f1f1;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.form {
  width: 360px;
  min-height: 100px;
  padding: 32px 24px;
  text-align: center;
  background: var(--white-color);
  border-radius: 2px;
  margin: 24px;
  align-self: center;
  box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
}
.form .heading {
  font-size: 2rem;
}
.form .desc {
  text-align: center;
  color: var(--color);
  font-size: 1.6rem;
  font-weight: lighter;
  line-height: 2.4rem;
  margin-top: 16px;
  font-weight: 300;
}

.form-group {
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;
}
/*  */
.flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flexbox input,
label {
  padding: 10px;
}
.flexbox > #save {
  align-self: center;
}
/*  */
.form-label,
.form-message {
  text-align: left;
}

.form-message {
  color: red;
}

.form-label {
  font-weight: 700;
  padding-bottom: 6px;
  line-height: 1.8rem;
  font-size: 1.4rem;
}

.form-control {
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  outline: none;
  font-size: 1.4rem;
}

.form-control:hover {
  border-color: #1dbfaf;
}

.form-group .invalid {
  border-color: var(--border-red);
}

.form-group.invalid .form-message {
  color: var(--border-red);
}

.form-message {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 4px 0 0;
}

.btn {
  outline: none;
  border: none;
  width: 40%;
  padding: 12px 16px;
  font-weight: 600;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
}

.btn-active {
  background-color: #1dbfaf;
  color: #fff;
}

.btn-inactive {
  pointer-events: none;
}

.spacer {
  margin-top: 36px;
}
