# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/form/node_modules
/form/.pnp
/form.pnp.js

# testing
/form/coverage

# production
/form/build

# misc
/form/.DS_Store
/form/.env.local
/form/.env.development.local
/form/.env.test.local
/form/.env.production.local

/form/npm-debug.log*
/form/yarn-debug.log*
/form/yarn-error.log*
