body{
  background-color: pink;
}

.invisible{
  display: none;
}

.App{
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 30px;
}

.birthday{
  background-color: white;
  width: 400px;
  border-radius: 5px;
}

.element{
  width: 100%;
}